<div class="container-830">
  <div class="websiteheader">

      <%= link_to "#{image_tag "logo-website.png", :class => "websiteheader-logo"}", "index" %>

    <ul class="websiteheader-nav">
      <li>
        <%= link_to "Home", "index", :class => "btn-nav" %>
      </li>
      <li>
        <%= link_to "About", "about", :class => "btn-nav" %>
      </li>
      <li>
        <%= link_to "News", "news", :class => "btn-nav" %>
      </li>
      <li>
        <%= link_to "Tests Javascript", "testjavascript", :class => "btn-nav" %>
      </li>
      <li>
        <%= link_to "Line-ups", "lineups", :class => "btn-nav" %>
      </li>
    </ul>
    <%= link_to "Login", "scheduled", :class => "btn-login" %>
  </div>
</div>